.content {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   width: 100%;
   height: 100%;
}
.main_info {
   width: 50%;
   height: 100%;
}
.main_info_item {
   padding: 10px;
}
.avatar_conteiner {
   width: 50%;
}
.avatar {
   height: 100%;
   background-color: #B8B8FF;
}
.person_list {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   height: 20%;
   width: 100%;
}
.lenta {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding-top: 20px;
   padding-left: 20px;
   justify-content: flex-start;
   height: 80%;
   width: 95%;
}
.message_button {
   padding-top: 20px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 100%;
   height: 15%;
}
.message {
   width: 100px;
   height: 35px;
   border: 1px solid gray;
   background-color: #B8B8FF;
   border-radius: 20px;
   transition: 0.5s ease;
   align-self: flex-end;
   font-size: 20px;
}
.message:hover {
   background-color: rgba(94, 199, 94, 0.705);
   color: #F8F7FF;
}
.input {
   align-self: center;
   font-size: 15px;
   background-color: #B8B8FF;
   color: #F8F7FF;
   width: 90%;
   height: 100px;
   border: 1px solid gray;
   border-radius: 10px;
   text-indent: 10px;
   padding: 5px;
   max-width: 95%;
   max-height: 100px;
   min-width: 50%;
   min-height: 50px;
}