#root {
   display: flex;
   justify-content: center;
   align-items: flex-start;
}
.App {
   margin-top: 10px;
   display: grid;
   grid-template-areas: 
   "header header"
   "sidebar conteiner"
   "footer footer";
   grid-gap: 10px;
   grid-template-rows: 10% 1fr 5%;
   grid-template-columns: 20% 80%;
   width: 70%;
   height: 100vh;
}
.header {
   background-color: #9381FF;
   grid-area: header;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #F8F7FF;
   border-radius: 25px 25px 0 0;
}
.conteiner {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   flex-direction: column;
   background-color: #FFD8BE;
   grid-area: conteiner;
   color: grey;
}
.sidebar {
   background-color: #B8B8FF;
   grid-area: sidebar;
}
.footer {
   font-size: 25px;
   color: #F8F7FF;
   grid-area: footer;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #B8B8FF;
}